@import "~vue-material/dist/theme/engine";

$primary: md-get-palette-color(blue, A700);
$secondary: md-get-palette-color(blue, A200);
$accent: #FF5252;
$darkGrey: md-get-palette-color(grey, 900);
$lightGrey: md-get-palette-color(grey, 700);
$prompt: md-get-palette-color(purple, 200);
$warning: md-get-palette-color(yellow, 200);
$error: md-get-palette-color(deeporange, 200);

@include md-register-theme("default", (
    primary: $primary,
    theme: dark
));

@include md-register-theme("default-light", (
    primary: $primary,
));

@include md-register-theme("secondary", (
    primary: $secondary,
    theme: dark
));

@import "~vue-material/dist/theme/all";

$headerHeight: 36px;
$borderRadius: 4px;

$xsmall: 6px;
$small: 8px;
$medium: 12px;
$large: 16px;