@import "~vue-material/dist/theme/engine";

$primary: md-get-palette-color(blue, A700);
$secondary: md-get-palette-color(blue, A200);
$accent: #FF5252;
$prompt: md-get-palette-color(purple, 200);
$warning: md-get-palette-color(yellow, 200);
$error: md-get-palette-color(deeporange, 200);

@include md-register-theme("default", (
    primary: $primary,
    theme: dark
));

@include md-register-theme("default-light", (
    primary: $primary,
));

@include md-register-theme("secondary", (
    primary: $secondary,
    theme: dark
));

@import "~vue-material/dist/theme/all";

$darkGrey: md-get-palette-color(grey, 900);
$lightGrey: md-get-palette-color(grey, 700);
$lighterGrey: md-get-palette-color(grey, 500);

.scrollable {
    overflow: auto !important;
}

.full-height {
    height: 100%;
}

$headerHeight: 40px;
$borderRadius: 4px;

$xsmall: 6px;
$small: 8px;
$medium: 12px;
$large: 16px;

@mixin xsmall {
    @media (max-width: 599px) {
        @content;
    }
 }
@mixin small {
    @media (max-width: 959px) {
        @content;
    }
}
@mixin medium {
    @media (max-width: 1259px) {
        @content;
    }
}
@mixin large {
    @media (max-width: 1919px) {
        @content;
    }
}
@mixin xlarge {
    @media (min-width: 1920) {
        @content;
    }
}

.code {
    font-family: 'Courier New', Courier, monospace;
    background-color: white !important;
    color: $darkGrey !important;

    $fontHeight: 14px;
    &-line {
        display: flex;
        flex-direction: row;
        white-space: pre;
        font-size: $fontHeight;
        height: $fontHeight + $small;
        padding-top: $small / 2;
        padding-bottom: $small / 2;
    }
    &-identifier {
        color: md-get-palette-color(blue, 500);
    }
    &-indent {
        width: 32px;
        height: 100%;
    }
    &-num {
        color: md-get-palette-color(green, 500);
    }
    &-reserved {
        color: md-get-palette-color(orange, 500);
    }
    }

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}
@mixin animate($name, $duration, $iteration) {
    -webkit-animation: $name $duration $iteration;
       -moz-animation: $name $duration $iteration;
         -o-animation: $name $duration $iteration;
            animation: $name $duration $iteration;
}