@import "~vue-material/dist/theme/engine";

$primary: #004ba0;
$secondary: #1976d2;
$accent: md-get-palette-color(orange, A700);
$prompt: md-get-palette-color(purple, 200);
$warning: md-get-palette-color(yellow, 200);
$error: md-get-palette-color(deeporange, 200);

@include md-register-theme("default-darker", (
    primary: $primary,
    accent: $accent,
    theme: dark
));

@include md-register-theme("default", (
    primary: $secondary,
    accent: $accent,
    theme: dark
));

@include md-register-theme("default-light", (
    primary: $primary,
    accent: $accent,
));

.md-theme-default,
.md-theme-default-darker {
    color: rgba(255, 255, 255, 0.87) !important;
}

.md-button.md-theme-default[disabled] .md-icon-font,
.md-button.md-theme-default-darker[disabled] .md-icon-font{
    color: rgba(255, 255, 255, 0.47) !important;
}

.md-tooltip.md-theme-default,
.md-tooltip.md-theme-default-darker {
    color: rgba(0, 0, 0, 0.87) !important;
}

@import "~vue-material/dist/theme/all";

$darkGrey: md-get-palette-color(grey, 900);
$lightGrey: md-get-palette-color(grey, 700);
$lighterGrey: md-get-palette-color(grey, 500);
$whiteGrey: md-get-palette-color(grey, 300);

$headerHeight: 40px;
$borderRadius: 4px;
$xsmall: 6px;
$small: 8px;
$medium: 12px;
$large: 16px;

.scrollable {
    overflow: auto !important;
}

.full-height {
    height: 100%;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    background-color: white !important;
    color: $darkGrey !important;

    $fontHeight: 14px;
    &-line {
        display: flex;
        flex-direction: row;
        white-space: pre;
        font-size: $fontHeight;
        height: $fontHeight + $small;
        padding-top: $small / 2;
        padding-bottom: $small / 2;
    }
    &-identifier {
        color: md-get-palette-color(blue, 500);
    }
    &-indent {
        width: 32px;
        height: 100%;
    }
    &-num {
        color: md-get-palette-color(green, 500);
    }
    &-reserved {
        color: md-get-palette-color(orange, 500);
    }
}

$sliderSize: 16px;
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px $darkGrey;
    -webkit-appearance: none;
    appearance: none;
    width: $sliderSize;
    height: $sliderSize;
    border-radius: 50%; 
    background: $accent;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: $sliderSize;
    height: $sliderSize;
    border-radius: 50%;
    background: $accent;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    background: $lightGrey;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
    z-index: 10;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: md-get-palette-color(grey, 400) !important;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $lightGrey !important;; 
    border-radius: 10px;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}