@import "./base.scss";
                 
.io {
    background: black !important;
    font-family: monospace;

    .md-card-actions {
        border-bottom: 1px solid white;
        padding: 0;
        padding-left: 16px;
        height: $headerHeight;
        min-height: $headerHeight !important;
    }

    .console {
        color: white !important;
        width: 100%;
        height: 100%;
        padding: 20px;
        overflow-y: auto;

        div {
            width: 100%;
        }

        &-empty {
            position: absolute !important;
            bottom: 4px;
            right: 6px;
        }
    }
}