.io {
    background: black !important;
    font-family: monospace;
    @include height-transition(ease-out);

    .md-title {
        flex: 1;
    }

    .md-card-actions {
        border-bottom: 1px solid white;
        padding: 0;
        padding-left: 16px;
        height: $headerHeight;
        min-height: $headerHeight !important;
        justify-content: flex-start;
    }

    .console {
        color: white !important;
        width: 100%;
        height: 100%;
        padding: 20px;
        overflow-y: auto;

        &-item {
            width: 100%;
        }

        &-prompt {
            &-input {
                margin-bottom: 8px;
            }
            
            &-send {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & > div, button {
                    margin: 0 !important;
                }
            }
        }

        &-empty {
            position: absolute !important;
            bottom: 4px;
            right: 6px;
        }

        &-resize {
            min-width: 0 !important;
            width: 32px !important;
        }
    }

    &-minimized {
        height: $headerHeight + $xsmall !important;
        @include height-transition(ease-in);
    }
}