@import "./base.scss";

.trace {
    background-color: $darkGrey !important;
    margin-top: $large !important;

    .md-tabs {
        height: 100% !important;

        &-navigation {
            min-height: $headerHeight !important;

            button {
                height: inherit !important;
                font-size: $medium;
            }
        }

        &-content {
            background-color: transparent !important;
            overflow-y: auto !important;
            height: auto !important;
        }
    }
}