@import "./base.scss";

.variable {
    display: flex;
    flex-direction: row;
    margin-bottom: $small;
    align-items: center;
    border-radius: $borderRadius;

    &-name {
        background-color: transparent !important;
        margin-right: $medium;
        padding-left: $medium;
        min-width: 20%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    $boxDim: 14px;
    &-dict {
        display: flex;
        flex-direction: column;
        padding: $small;
        width: fit-content !important;
        min-width: 100%;

        &-content {
            display: flex;
            flex-direction: row;
            margin-bottom: $small;
        }

        &-key {
            background-color: md-get-palette-color(indigo, 800);
            font-size: 10px;
            text-align: center;
            height: auto;
            width: auto;
            padding: 4px;
        }

        &-value {
            padding: $small;
            height: 100%;
            width: 100%;
        }
    }

    &-list {
        display: flex;
        flex-direction: row;
        padding: $small;
        width: fit-content;
        height: fit-content;

        $boxDim: 14px;
        $itemBack: md-get-palette-color(green, 800);
        &-vertical {
            flex-direction: column !important;

            &-item {
                width: auto;
                line-height: 100% !important;
                vertical-align: middle !important;
                text-align: center !important;
                margin-bottom: $small;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                
                &-index {
                    background-color: $itemBack;
                    font-size: $small;
                    text-align: center;
                    height: auto;
                    width: auto;
                    padding: 4px;
                }
    
                &-value {
                    padding: $small;
                    height: 100%;
                    width: 100%;
                }
            }
            &-item:last-child {
                margin: 0 !important;
            }
        }

        &-item {
            width: auto;
            vertical-align: middle !important;
            text-align: center !important;
            margin-right: $small;
            height: 100% !important;
            
            &-index {
                background-color: $itemBack;
                font-size: $small;
                text-align: center;
                width: 100%;
                height: $boxDim;
                line-height: $boxDim;
            }

            &-value {
                padding: $small;
                height: 100%;
                vertical-align: middle;
            }
        }

        &-item:last-child {
            margin: 0 !important;
        }
    }

    &-matrix {
        width: fit-content !important;

        .md-table-content {
            overflow: hidden !important;
        }
        
        &-elm {
            padding: 4px !important;
            text-align: center;
            border: 1px dashed $lightGrey !important;
        }
    }

    &-function {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-identifier {
            background-color: md-get-palette-color(blue, 500) !important;
            min-width: 128px;
            margin-right: $medium;
            border-radius: $borderRadius;
        }

        &-params {
            background-color: md-get-palette-color(orange, 500) !important;
            margin-left: $medium;
            margin-right: $medium;
        }

        &-param {
            background-color: white!important;
            color: gray;
            font-weight: bold;
            margin-left: $small;
            padding: $medium;
            border-radius: $borderRadius;
            width: auto;
        }

        &-raw {
            color: white !important;
            font-size: 48px;
        }
        &-raw:last-child {
            margin-left: $small !important;
        }
    }

    &-unique {
        display: flex;
        flex-direction: column;
        background-color: $lightGrey;
        border-radius: $borderRadius;

        &-text {
            border-top-left-radius: $borderRadius;
            border-top-right-radius: $borderRadius;
            background-color: $darkGrey;
            padding: $small;

            &-input {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & > div {
                    margin: 0;
                    margin-left: $large;
                }
            }
        }

        &-type {
            font-family: monospace;
            color: $prompt;
        }

        &-content {
            padding: $small;
            width: 100%;
        }

        &-value {
            border-radius: $borderRadius;
            padding: $small;
            width: max-content;
            margin: auto;
        }
    }

    &-return {
        background-color: md-get-palette-color(red, 500) !important;
    }

    &-values {
        background-color: $lighterGrey !important;
        padding: 4px;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto !important;
        overflow-y: hidden !important;
        flex: 1;

        &-box {
            margin: 0 !important;
            height: 100% !important;
            background-color: transparent;
            margin-right: 6px !important;
            
            $stepboxDim: 14px;
            &-step {
                background-color: md-get-palette-color(grey, 600) !important;
                font-size: $small;
                text-align: center;
                width: 100%;
                height: $stepboxDim;
                line-height: $stepboxDim;
            }
        }

        &-current {
            background-color: md-get-palette-color(bluegrey, 500) !important;
            padding: 6px;
            height: 32px;
            text-align: center !important;
            min-width: 38px;
            max-width: 64px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &-number, &-float {
                background-color: md-get-palette-color(blue, 500) !important;
            }

            &-string, &-char {
                background-color: md-get-palette-color(orange, 500) !important;
            }

            &-boolean {
                background-color: md-get-palette-color(purple, 500) !important;
            }

            &-list, &-listoflists, &-matrix {
                background-color: md-get-palette-color(green, 600) !important;
            }

            &-dict {
                background-color: md-get-palette-color(indigo, 500) !important;
            }

            &-function {
                background-color: md-get-palette-color(brown, 500) !important;
            }
        }
    
        &-prev {
            background-color: md-get-palette-color(bluegrey, 300) !important;
            padding: 4px;
            min-width: 28px;
            max-width: 48px;
            height: 24px;
            text-align: center !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &-number, &-float {
                background-color: md-get-palette-color(blue, 300) !important;
            }

            &-string, &-char {
                background-color: md-get-palette-color(orange, 300) !important;
            }

            &-boolean {
                background-color: md-get-palette-color(purple, 300) !important;
            }

            &-list, &-listoflists, &-matrix {
                background-color: md-get-palette-color(green, 400) !important;
            }

            &-dict {
                background-color: md-get-palette-color(indigo, 300) !important;
            }

            &-function {
                background-color: md-get-palette-color(brown, 300) !important;
            }
        }
    }

    &-dialog {
        .md-dialog-content {
            display: flex;
        }
    }
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}